body {
    margin: 0;
    font-family: Arial, sans-serif;
    max-width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8ddbc4;
    position: relative;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
  }
  
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .login-btn {
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #8ddbc4;
    cursor: pointer;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .hamburger-menu {
    display: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #8ddbc4;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 10px 0;
    }
  
    .nav-links li {
      text-align: center;
      padding: 10px 0;
    }
  
    .nav-actions {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    .nav-links.active {
      display: flex;
    }
  }
  



















.input-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
}

.search-icon {
  color: #8ddbc4;
  font-size: 17px;
  margin-right: 5px;
}

.search-input {
  border: none;
  padding: 10px;
  outline: none;
  color: #8ddbc4;
  width: 200px;
  border-radius: 10px;
}

.search-btn {
  padding: 10px 20px;
  background-color: #448b76;
  border: none;
  border-radius: 20px;
  
  color: white;
  /* width: 150px; */
  cursor: pointer;
}

.search-btn:hover {
  background-color: #366e5b;
}


.search-doctor-container {
  position: relative;
  width: 100%;
  height: 50vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./bg.png'); 
  background-size: cover;
  background-position: center;
}

.my-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.input-container {
  position: relative;
}












/* General styles */
.my-container {
  display: flex;
  flex-direction: row;
}

/* Sidebar styles */
.sidebar {
  width: 20%;
  background-color: #8ddbc4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background-color: #e0e0e0;
  border-radius: 5px;
}

/* Main content styles */
.main-content {
  width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* Doctor card styles */
.doctor-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 200px;
}

.doctor-img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-occupation,
.card-city {
  margin-top: 5px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .sidebar {
    width: 30%;
  }

  .main-content {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .my-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    box-shadow: none;
  }

  .main-content {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .doctor-card {
    width: 100%;
  }
}



/* StatsSection.css */
.stat-card {
  background: linear-gradient(135deg, #cbd7d3cb, #448b76cb); /* Adjust your gradient colors here */
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: scale(1.05);
}

.stat-count {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.stat-label {
  font-size: 1.2rem;
  margin: 0;
}


.stats-section {
  background-color: #f8f9fa;
}

.stat-box {
  transition: transform 0.3s ease;
}

.stat-box:hover {
  transform: scale(1.05);
}

.stat-box h2 {
  font-size: 4rem;
  margin: 0;
}

.stat-box p {
  font-size: 1.5rem;
}


.card.stat-card {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; /* Fixed height */
  width: 200px; /* Fixed width */
  text-align: center;
  padding: 15px;
}

.card-body {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  margin: 0;
}

.card-text {
  margin: 0;
}







body {
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	position: relative;
	margin: 0 0 50px 0;
	text-transform: uppercase;
	display: inline-block;
}

.carousel {
	/* margin: 50px auto; */
}
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
	margin-left: 20px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px dashed #366e5b;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #1f8264;
	padding: 15px;
	margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
	background: #8ddbc4;
	box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .carousel-item .row > div:first-child .testimonial {
	margin: 0 20px 20px 0;
}
.carousel .carousel-item .row > div:first-child .media {
	margin-left: 0;
}
.carousel .testimonial p {
	text-indent: 40px;
    line-height: 21px;
	margin: 0;
}
.carousel .testimonial p::before {
	content: "\201D";
  	font-family: Arial,sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #448b76;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
    background: #082119;
    text-shadow: none;
	top: 40px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 16px;
  background-color: #366e5b;
}
.carousel-control-prev {
	left: auto;
	right: 40px;
}
.carousel-control-next {
	left: auto;
}
.carousel-indicators {
	bottom: 80px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 17px;
    height: 17px;
	border-radius: 0;
	margin: 1px 5px;
  	box-sizing: border-box;
    margin-bottom: -90px;
    /* margin-top:40px; */
}
.carousel-indicators li {	
    background: #8ddbc4;
    border: 4px solid #fff;
    
}
.carousel-indicators li.active {
	color: #fff;
    background: #366e5b;
    border: 5px double;    
}
.star-rating li {
	padding: 0 2px;
}
.star-rating i {
	font-size: 14px;
	color: #448b76;
}

.footer{
  background-color: #448b76;
  margin-top: 20px;
}